<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- changes from the defaults for testing -->
        <setting name="cacheEnabled" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
    </settings>
    <typeAliases>
        <typeAlias alias="User" type="bean.User"/>
        <typeAlias alias="Resource" type="bean.Resource"/>
        <typeAlias alias="Catalog" type="bean.Catalog"/>
        <typeAlias alias="Admin" type="bean.Admin"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="jdbc"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/daily?serverTimezone=Asia/Shanghai"/>
                <property name="username" value="root"/>
                <property name="password" value="l.1322630122"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/ResourceMapper.xml"/>
        <mapper resource="mappers/CatalogMapper.xml"/>
        <mapper resource="mappers/AdminMapper.xml"/>
    </mappers>
</configuration>